*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

html,body{
	background-color: #ededed;
	font-family: "microsoft yahei";
}

.container{
	height: 100vh;
	display: flex;
	overflow: hidden;
}

/* 图片自适应 */
.img-responsive{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

/* 左侧菜单 */
.container .slider{
	width: 12.5rem;
	background-color: #b50512;
	overflow: hidden;
}

.slider h1{
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	font-size: 1.17rem;
	color:#fff;
	font-weight: 500;
	position: relative;
}

.slider h1:after{
	content:"";
	width: 1.67rem;
	height: 1.67rem;
	background-color: #fff;
	display: block;
	border-radius: 50%;
	position: absolute;
	top:50%;
	right:0;
	margin-top: -.83rem;
	margin-right: -.83rem;
}

.slider .avatar-wrap{
	height: 13.75rem;
}

.slider .avatar-wrap .photo{
	height: 7.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .avatar-wrap .photo .thumb{
	border:10px solid #fdf202;
	border-radius: 50%;
	width: 6.25rem;
	height: 6.25rem;
	outline: none;
	background-color: #fff;
	background-position: center;
	background-size: contain;
	overflow: hidden;
}

.slider .avatar-wrap .tbox{
	margin-top: .83rem;
}

.slider .avatar-wrap .tbox p{
	font-size: 1.04rem;
	text-align: center;
	line-height: 1.67rem;
	color:#fff;
	font-weight: 300;
	margin-bottom: 0;
}

.slider .nav li{
	height: 3.75rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 1.25rem;
	cursor: pointer;
	transition: all ease-in-out .5s;
}

.slider .nav li i{
	display: block;
	width: 2.92rem;
	height: 2.5rem;
	margin-right: .83rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all ease-in-out .5s;
}

.icon-home{
	background-image: url(../img/icon_home.png);
}

.slider .nav li.on .icon-home,.slider .nav li:hover .icon-home{
	background-image: url(../img/icon_home_active.png);
}

.icon-play{
	background-image: url(../img/icon_play.png);
}

.slider .nav li.on .icon-play,.slider .nav li:hover .icon-play{
	background-image: url(../img/icon_play_active.png);
}

.icon-chat{
	background-image: url(../img/icon_chat.png);
}

.slider .nav li.on .icon-chat,.slider .nav li:hover .icon-chat{
	background-image: url(../img/icon_chat_active.png);
}

.icon-user{
	background-image: url(../img/icon_user.png);
}

.slider .nav li.on .icon-user,.slider .nav li:hover .icon-user{
	background-image: url(../img/icon_user_active.png);
}

.slider .nav li span{
	display: flex;
	align-items: center;
	flex: 1;
	height: 3.75rem;
	overflow: hidden;
	font-size: 1.25rem;
	color:#fff;
	transition: all ease-in-out .5s;
}

.slider .nav li.on,.slider .nav li:hover{
	background-color: rgba(255,255,255,.2);
}

.slider .nav li.on span,.slider .nav li:hover span{
	color:#fad20b;
}

.slider .setbox{
	height: 5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.setbox a{
	display: block;
}

.icon-set{
	background-image: url(../img/icon_set.png);
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.container .content{
	flex:1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content .header{
	height: 5rem;
	background-color: #fff;
	margin-bottom: .83rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2.5rem;
}

.time{
	font-size: 1.17rem;
	color:#b10006;
}

.time span{
	margin-right: 1.25rem;
}

.rightbox,.searchbox form{
	display: flex;
	align-items: center;
}

.searchbox .search{
	width: 9.79rem;
	height: 2.5rem;
	border-radius: 2.5rem;
	text-align: left;
	font-size: 1.17rem;
	color:#fff;
	background-color: #e29ba1;
	line-height: 2.5rem;
	padding: 0 .83rem;
	margin-bottom: 0;
	font-family: "microsoft yahei";
}

.icon-search{
	width: 2.5rem;
	height: 2.5rem;
	margin-left: 1.67rem;
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	background:url(../img/icon_search.png) center no-repeat;
	background-color: transparent !important;
	border: none !important;
	background-size: contain;
}

.search::-webkit-input-placeholder{
    color: #fff;
}
.search::-moz-placeholder{
    color: #fff;
}
.search:-ms-input-placeholder{
    color: #fff;
}

.add-plus{
	margin-left: 1.67rem;
}

.icon-plus{
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	background:url(../img/icon_plus.png) center no-repeat;
	background-size: contain;
}

.content .wrapper{
	flex:1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.banner-box{
	height: 16rem;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* 菜单样式 */
.menu-wrap{
	padding: 0 .83rem;
}

.menu-wrap .menu{
	height: 5.42rem;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

.menu-wrap .menu a{
	flex:1;
	overflow: hidden;
	font-size: 1.25rem;
	padding: 0 .5rem;
	border-radius: 1rem;
	position: relative;
}

.menu-wrap .menu a em{
	font-style: normal;
	position: absolute;
	bottom: .21rem;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 0.83rem;
}

.menu-wrap a{
	color:#b20007;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	transition: all ease-in-out .1s;
}

.menu-wrap a:hover,.menu-wrap a.on{
	color:#fae805;
	background-color: #b20007;
}

.menu-wrap .sub-menu{
	height: 4.17rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .sub-menu a{
	height: 2.5rem;
	font-size: 1.17rem;
	padding: 0 1.25rem;
	border-radius: .83rem;
}

.menu-wrap .sub-menu .icon-plus{
	width: 1.67rem;
	height: 1.67rem;
}

/* 首页模块 */
.home-news{
	padding: .83rem;
	flex:1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.home-news h2{
	background-color: #b50512;
	font-size: 1.17rem;
	color:#fff;
	height: 3.92rem;
	line-height: 3.92rem;
	padding-left: 3.13rem;
	font-weight: 300;
	margin: 0;
}

.home-news .main{
	margin-top: .83rem;
	flex:1;
	overflow: hidden;
	display: flex;
	background-color: #fff;
}

.home-news .main .thumb{
	width: 12.5rem;
}

.home-news .main .cbox{
	padding: .83rem 100px .83rem 50px;
	flex:1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.home-news .main .cbox h3{
	margin: 0;
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: .75rem;
}

.home-news .main .cbox h3 a{
	color:#a00000;
}

.home-news .main .cbox .caption{
	font-size: .92rem;
	color:#666;
	margin-bottom: .63rem;
}

.home-news .main .cbox p{
	font-size: 1rem;
	line-height: 1.5rem;
	text-indent: 2em;
	color:#666;
}

.home-news .main .cbox .source{
	text-align: right;
	font-size: 1rem;
	color:#666;
	margin-top: .63rem;
}

/* 章程目录 */
.m-wrap{
	flex:1;
	overflow: hidden;
	margin: .83rem;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

.m-wrap .m-header{
	height: 6.25rem;
	background-color: #ba1e22;
	margin-bottom: .83rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	overflow: hidden;
}

.m-wrap .m-header h1{
	margin: 0;
	font-size: 2.5rem;
	font-weight: 800;
	color:#f0cc6c;
	letter-spacing: .42rem;
}

.m-wrap .m-header span{
	color:#fff;
	font-size: 1rem;
}

.m-wrap .diver{
	height: 1px;
	background-color: #ba1e22;
}

.m-wrap .m-list{
	flex:1;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2.5rem 3rem;
	padding-bottom: .83rem;
}

.m-wrap .m-list ul{
	display: flex;
	flex-wrap: wrap;
}

.m-wrap .m-list ul li{
	width: 33.33%;
	display: flex;
	align-items: center;
	padding: 0 .42rem;
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.m-wrap .m-list ul li a{
	font-size: 1.17rem;
	color:#333;
	font-weight: 550;
}

.m-wrap .m-list ul li a:hover{
	color:#f0cc6c;
}
